development:
  couchdb: couchlog_development
  host: 127.0.0.1
  port: 5984

test:
  couchdb: couchlog_test
  host: 127.0.0.1
  port: 5432

production:
  couchdb:  couchlog_production
  host: www.example.com
  port: 5432